<% content_for :page_title do %>
  <%= t('.edit_upload') %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to t(:back_to_uploads_list), admin_uploads_url, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/admin/shared/configuration_menu' %>
<%= render "spree/shared/error_messages", :target => @upload %>

<%= form_for([:admin, @upload], :html => { :method => :put, :multipart => true }) do |f| %>
  <fieldset class="no-border-top">
    <div class="left four columns alpha" data-hook="admin_upload_form_right">
      <% if @upload.image_content? %>
        <%= f.field_container :preview do %>
          <%= f.label :preview %>:<br/>
          <%= link_to image_tag(@upload.attachment.url(:small)), @upload.attachment.url(:original) %>
        <% end %>
      <% else %>
        <%= f.field_container :link do %>
          <%= f.label :link %>:<br/>
          <%= link_to @upload.attachment_file_name, @upload.attachment.url %>
        <% end %>
      <% end %>
    </div>

    <div class="right eight columns omega" data-hook="admin_upload_form_left">
      <%= render :partial => 'form', :locals => {:f => f} %>
    </div>

    <div class="clear"></div>

    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>

  </fieldset>
<% end %>
